.orderList {
    padding: 5px;
    height: 100%;
    background-color: white;
    .headPrice {
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
    }
    .arrow-down{
        color: #ae543b;
    }
    .arrow-up{
        color: #3e8654;
    }
    .positionSetting {
        padding: 15px 20px;
        .position {
            margin-right: 20px;
        }
    }
    .table-container-inner {
        overflow: hidden;
        table {
            border-radius: 6px;
            table-layout: fixed;
            border: 1px solid #e8e8e8;
            border-collapse: collapse;
            width: 100%;
            overflow-x: auto;
            overflow-y: auto;
            th {
                font-weight: 600;
                font-size: 95%;
            }
            th,
            td {
                height: 20px;
                white-space: nowrap;
                width: 33.3333333333%;
                text-align: right;
                word-break: normal;
            }
            tbody {
                tr:hover {
                    background: rgba(232, 112, 79, 0.4);
                }
                .hover-green:hover {
                    background: rgba(82, 179, 112, 0.3);
                }
                td {
                    font-size: 12px;
                    >div {
                        position: relative;
                        height: 15px;
                        line-height: 16px;
                    }
                }
                .output {
                    position: relative;
                }
                .price {
                    color: #ae543b;
                }
                .price.green {
                    color: #3e8654;
                }
                .depthBar {
                    background-color: #e8704f;
                    opacity: 0.2;
                    mix-blend-mode: multiply;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                }
                .depthBar.depthBar-green {
                    background-color: #3e8654;
                }
            }
        }
        tbody>tr:nth-child(odd)>td {
            background-color: rgba(195, 195, 195, 0.25);
        }
        .up {
            animation: myfirst 0.8s;
        }
        .down {
            animation: mysecond 0.8s;
        }
    }
}

@keyframes myfirst {
    0% {
        background: rgba(232, 112, 79, 0.4);
    }
}

@keyframes mysecond {
    0% {
        background: rgba(82, 179, 112, 0.4);
    }
}