@import "../components/SiderMenu/index.less";
@import "../components/GlobalHeader/index.less";
@import "../routes/User/Login.less";
@import "../layouts/UserLayout.less";
@import "../layouts/PageHeaderLayout.less";
@import "../components/TopNavHeader/index.less";
.global-spin {
    width: 100%;
    margin: 40px 0 !important;
}
//立体动画
.hover-shadow{
    transition: all .3s;
}
.hover-shadow:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
//end